<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=serverlesstfg;AccountKey=w6JHCV86FmRSxSEgJihwLso5dPsOcUW58+mQe/D0yHdgpncMixVJHgO3+lGNAc6mp4e2hbAG+HAefuUYVIZxkw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>